.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("./images/background-2.jpg") center no-repeat;
  /* background: url("./images/background.webp") center no-repeat; */
  background-size: cover;
  /* filter: blur(0px); */
  animation: animateBlur 3s infinite linear;
}

@keyframes animateBlur {
  0% {
    filter: blur(1px);
  }
  20% {
    filter: blur(2px);
  }
  40% {
    filter: blur(4px);
  }
  60% {
    filter: blur(6px);
  }
  80% {
    filter: blur(8px);
  }
  100% {
    filter: blur(1px);
  }
}

html,
body {
  width: 100%;

  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Calistoga", cursive;
}

.name {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 45px;
  background-image: linear-gradient(to left, #ffa585, #ffeda0);
  font-style: italic;
  animation: animateName 1.8s infinite linear;
  letter-spacing: 3px;
}

.date {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 30px;
  /* background-image: linear-gradient(to left, #84ffc9, #aab2ff, #eca0ff); */
  background-image: linear-gradient(to left, #d93b70, #a3053a);
  font-style: italic;
}

.box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#pinkboard {
  position: relative;
  margin: auto;
  height: 500px;
  width: 500px;
  animation: animate 1.5s infinite;
  z-index: 10;
}

#pinkboard:before,
#pinkboard:after {
  content: "";
  position: absolute;
  background: #ffd96a;
  width: 100px;
  height: 160px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

#pinkboard.name {
  left: 100px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#pinkboard:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.particles-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.relative {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 100%;
  border: 1px solid red;
}

@keyframes animate {
  0% {
    transform: scale(1.2);
  }

  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1.2);
  }
}
@keyframes animateName {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    background-image: linear-gradient(to left, #1ed7b5, #f0f9a7);
  }
  60% {
    transform: translate(-50%, -50%) scale(1);
    background-image: linear-gradient(to left, #3effaf, #ddf811);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    background-image: linear-gradient(to left, #58efec, #e85c90);
  }
}

.relative {
  position: relative;
  z-index: 10;
}
